<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>footer</title>
  </head>
  <body>
    <footer class="container">
      <p>&copy; Hascal Foundation 2019-2022</p>
      <br />
      <p align="center">
        This page is also available in the following languages
        <br />
        <a href="fa/index.html">فارسی</a>
      </p>
    </footer>
  </body>
</html>
