<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-rtl.min.css">
    <title>footer</title>
  </head>
  <body>
    <footer class="container">
      <p>&copy; بنیاد هاسکال 2019-2022</p>
      <br>
      <p align="center">
          این صفحه در زبان های زیر نیز قابل دسترسی است
          <br>
          <a data-href="../[name].html">English</a>
      </p>
  </footer>
  </body>
</html>
